@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/common/colors.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --white: #ffffff;
    --white-04: rgba(255, 255, 255, 0.4);
    --black: #212529;
    --black-04: rgba(33, 37, 41, 0.4);
    --gray: #f8f9fa;
    --gray-1: #f1f3f5;
    --gray-2: #e9ecef;
    --gray-3: #dee2e6;
    --gray-4: #ced4da;
    --gray-5: #adb5bd;
    --gray-6: #868e96;
    --gray-7: #495057;
    --red: #ee465a;
    --red-1: #fef0f2;
    --red-2: #ffadb7;
    --red-3: #be3848;
    --red-4: #982d3a;
    --blue: #4877ec;
    --blue-light: #e1eaff;
    --green: #5cbc68;
    --green-light: #e9f7ee;
    --purple: #6f2ed3;
    --purple-light: #ede8fb;
    --yellow: #f4c336;
    --yellow-light: #fef8e3;
  }

  body {
    @apply bg-white text-black;
  }
}

/* SHADOW STYLES */
.shadow-1 {
  box-shadow: 2px 2px 8px 0px rgba(33, 37, 41, 0.06);
}

.shadow-2 {
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.02);
}
